@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Zelda';
    src: local(''), url('/assets/fonts/Zelda.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;

}